* {
  font-family: "Mononoki Nerd Font";
  font-weight: 600;
  padding: 0 0.35em 0 0.35em;
}

window#waybar, #window {
  background: transparent;
}

.modules-left, .modules-center, .modules-right {
  background: alpha(@base00, 0.4);
  border: 0.1em solid alpha(@base0D, 0.3);
  border-radius: 0.8em;
  padding: unset;
}

#custom-separator {
  opacity: 0.4;
}

.modules-left > :not(:first-child) .module {
  font-size: 1em;
  padding-right: 1.2em;
}
#custom-nix {
  color: @base07;
  font-size: 1.8em;
  background: alpha(black, 0.3);
  border-radius: 0.5em;
  padding-right: 0.54em;
}
menu {
  background: @base00;
  padding: 0.2em;
}
menuitem {
  color: @base07;
  padding: 0.4em;
}
#cpu {
  color: @base0D;
}
#memory {
  color: @base0B;
}
#temperature {
  color: @base0E;
}
#battery {
  color: teal;
}

.modules-center {
  border-color: transparent;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#workspaces button.active label {
  color: yellow;
  font-size: 1.2em;
  font-weight: 700;
}
#workspaces button:hover {
  background: alpha(white, 0.1);
}

.modules-right .module {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#bluetooth {
  font-size: 1.2em;
  color: @base0D;
}
#idle_inhibitor {
  font-size: 1.2em;
  color: shade(@base0B, 0.8);
  padding-right: 0.8em;
  transition: color 0.5s;
}
#idle_inhibitor.activated {
  color: shade(@base0B, 1.1);
}
#network {
  color: shade(@base0E, 1.05);
}
#pulseaudio {
  color: shade(@base0F, 0.95);
  padding-right: 0.65em;
}
#clock {
  color: shade(@base09, 1.3);
}
