* {
  font-family: "DepartureMono Nerd Font";
  font-weight: 600;
  padding: 0 0.35em 0 0.35em;
}

window#waybar, #window {
  background: transparent;
}

.modules-left, .modules-center, .modules-right {
  background: alpha(@base00, 0.6);
  border: 0.1em solid alpha(@base0D, 0.6);
  border-radius: 0.8em;
  padding: unset;
}
.modules-center {
  border-color: transparent;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.modules-left {
  padding-right: 0.5em;
}

#custom-nix {
  color: @base07;
  font-size: 1.8em;
  background: alpha(black, 0.3);
  border-radius: 0.5em;
  padding-right: 0.54em;
}
#cpu {
  color: @base0D;
}
#memory {
  color: @base0B;
}
#temperature {
  color: @base0E;
}
#battery {
  color: teal;
}

#workspaces button.active label {
  color: yellow;
  font-size: 1.2em;
  font-weight: 700;
}
#workspaces button:hover {
  background: alpha(white, 0.1);
}
